body {
    font-family: Arial, Helvetica, sans-serif;
}

.test {
    color: red;
}

.line {
    stroke-width: 3;
    fill: none;
}

.regular {
    fill: #dee2ff;
    stroke: #dee2ff;
}

.overtime {
    fill: #D9ADAD;
    stroke: #D9ADAD;
}

.injury {
    fill: 	#efd3d7;
    stroke: #efd3d7;
}

.retro {
    fill: #cbc0d3;
    stroke:#cbc0d3
}

.other {
    fill: 	#8e9aaf;
    stroke:#8e9aaf;
}

.total {
    fill: none;
    stroke: #c86860;
    stroke-width: 3;
    stroke-dasharray: 3, 3;
}

.totalPoints {
    fill: #c86860;
    stroke: #fff;
}

.count {
    fill: none;
    stroke: #8e9aaf;
    stroke-width: 3;
}

.countPoints {
    stroke: #fff;
    fill: #8e9aaf;
}

table {
    border-collapse: collapse; 
    font-size: 12px;
    table-layout: fixed;
}

table caption {
    /* font-size: 15px; */
    white-space: nowrap;
}

th, td {
    text-align: left;
    padding-right: 4em;
    width: 1px;
    white-space: nowrap;
}

th {
    color: white;
    background-color: #D9ADAD;
    padding: 0.5em;
    padding-left: 1.5em;
}

td {
    padding: 1.5em;
    border-style: solid none;
    border-width: 1px;
    border-color: #E8E8E8;
}

th:last-child, td:last-child {
    width: 100%;
}

table tr:nth-child(even) {
    background-color: #f8f8f8;
}

.primaryHeader {
    padding-left: 2em;
    padding-right: 6em; 
}

.primaryCell {
    font-weight: bold;
    padding-left: 2em;
    padding-right: 6em;
}

.preFinalHeader {
    padding-right: 6em;
}

.preFinalCell {
    padding-right: 6em;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #E8E8E8;
}

.title {
    font-style: Arial;
    size: 15px;
    padding: 1em;
    padding-bottom: 0.5em;
    display: block;
}

.gridLines line {
    stroke: #e8e8e8;
}
