body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f2ee;
}

nav {
    box-shadow: 0px 2px 6px -2px #888888;
}

.navbar-center {
    margin: 0 auto;

}

#header-dropdowns {
    margin-top: 15px;
    margin-bottom: 15px;
}

*,*:focus,*:hover{
    outline:none;
}

#main-dropdown {
    background-color: #f8f8f8;
    font-size: 15px;
    width: 125px;
    height: 35px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid lightgray;
    border-right: 0px;
    margin-right: -5px;
    vertical-align: top;
    padding-left: 5px;
}

#secondary-dropdown-input {
    color: #212529;
    width: 600px;
    font-size: 13px;
    height: 35px;
    vertical-align: top;
    padding-left: 5px;
    border: 1px solid lightgray;
    border-right: 0px;
}

#dropdown-button {
    height: 35px;
    width: 50px;
    font-size: 20px;
    border: 1px solid lightgray;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    background-color: #f8f8f8; 
}

i {
    color: #707070;
    vertical-align: top;
}

.line {
    stroke-width: 3;
    fill: none;
}

svg {
    background-color: #fff;
}

.regular {
    fill: #dee2ff;
    stroke: #dee2ff;
}

.overtime {
    fill: #D9ADAD;
    stroke: #D9ADAD;
}

.injury {
    fill: 	#efd3d7;
    stroke: #efd3d7;
}

.retro {
    fill: #cbc0d3;
    stroke:#cbc0d3
}

.other {
    fill: 	#8e9aaf;
    stroke:#8e9aaf;
}

.total {
    fill:  #ef8f8f;
    stroke: #fff;
}

.bar {
    fill:  #ef8f8f;
    stroke: #fff;
    padding: 1px;
}

.unselected {
    fill: #fff;
    stroke: #d3d3d3;
}

.count {
    fill: none;
    stroke:  	#8e9aaf;
    stroke-width: 3;
}

.count-points {
    stroke: #fff;
    fill:  	#8e9aaf;
}

#charts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#charts > div {
    margin-bottom: 50px;
}

.table-wrapper {
    overflow-x: auto;
    overflow-y: auto;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 2px 6px -2px #888888;
}

.chart-wrapper {
    padding-top: 5px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 2px 6px -2px #888888;
    padding: 1px;
}

table {
    border-collapse: separate; 
    border-spacing: 0px;
    font-size: 12px;
}

caption {
    white-space: nowrap;
}

th, td {
    margin: 0;
    text-align: left;
    width: 1px;
    white-space: nowrap;
}

th {
    position: sticky;
    top: 3em;
    color: white;
    background-color:  #D9ADAD;
    padding: 0.5em 3em 0.5em 1.5em;
}

td {
    padding: 1.5em 3em 1.5em 1.5em;
}

th:nth-child(1), td:nth-child(1), th:nth-last-child(1), td:nth-last-child(1) {
    padding-left: 2em;
}

tr:nth-child(even) {
    background-color: #f8f8f8;
}

tr:nth-child(odd) {
    background-color: #fff;
}

.primary-header, .primary-cell {
    padding-right: 6em; 
}

.primary-cell {
    font-weight: bold;
}

.pre-final-cell, .pre-final-header {
    width:100%;
}

.final-cell {
    border-left: 1px solid #E8E8E8;
    /* position: sticky;
    right: 0px; */
}

.title {
    font-style: Arial;
    size: 15px;
    padding: 0.5em 1em 0.25em 1em;
    background-color: #fff;
    display: block;
}

.table-wrapper > .title {
    position: sticky;
    top:0;
    left:0;
}

.grid-lines line {
    stroke: #e8e8e8;
}
