<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
</head>

<body>
	<div id="sumtable"></div>
	<div id="sumchart"></div>
	<div id="avgtable"></div>
	<div id="avgchart"></div>
	<div id="countschart"></div>
	<div id="injurychart"></div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="http://d3js.org/d3.v5.min.js"></script>
	<script>{% include 'timeseriestable.js' %}</script>
	<script>{% include 'timeserieschart.js' %}</script>
	<script>{% include 'timeserieslinechart.js' %}</script>
	<script>{% include 'script.js' %}</script>
</body>

</html>