<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
</head>

<body>
	<div id="header">
		<h1>Boston Employee Earnings</h1>
		<h4>{{dept}} | {{program}}</h4>
	</div>
	<div id="sumtable"></div>
	<div id="sumchart"></div>
	<div id="avgtable"></div>
	<div id="avgchart"></div>
	<div id="countschart"></div>
	<div id="injurychart"></div>
	<div id="mostPaidEmployees"></div>
	<div id="histogram"></div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="http://d3js.org/d3.v5.min.js"></script>
	<script>{% include 'd3table.js' %}</script>
	<script>{% include 'timeserieslinechart.js' %}</script>
	<script>{% include 'areachart.js' %}</script>
	<script>{% include 'histogram.js' %}</script>
	<script>{% include 'program_script.js' %}</script>
</body>

</html>